.room-image{
    background-image: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0,0.5)), url('../img/pexels-pixabay-279746\ \(1\).jpg');
    min-height: 400px;
    background-size: cover;
    background-position: center;
}

.location{
    margin-top: 50px;
 }
 .location-detail{
     margin-top: 40px;
 }

 .lines{
    width: 100px;
   margin: 0 auto;
    border-bottom: 5px solid red;
    margin-bottom: 50px;
}